/* ABOUT
----------------------------------------------- */
nav {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
	z-index: 9;
}

.menu-btn {
	svg {
    height: 24px;
    width: 24px;
	}

	path {
		fill: $white;

		&.close {
			opacity: 0;
		}
	}

	&.is-open {
		path {
			fill: $first-color;

			&.open {
				opacity: 0;
			}

			&.close {
				opacity: 1;
			}
		}
	}
}

.about__main {
	margin: 0 auto;
	max-width: 55rem;
}

.about {
	background: rgba($white, 0.99);
	box-sizing: border-box;
	border: .5rem solid $first-color;
	left: 0;
	min-height: 100%;
	opacity: 0;
	padding: 2rem 5%;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1;
	
	h2 {
		color: $bg-color;
		@include type-size(52, 1.4, true);
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	p, li {
		color: $bg-color;
		@include body-font;
		@include type-size(16, 1.45, true);
		margin-top: 0;
	}

	p {
		margin-bottom: (16*1.45/16)+rem;
	}

	a {
		color: $first-color;
	}

	.col {
		float: left;
		width: 100%;
		@include at-medium() {
			margin-left: 10%;
			width: 45%;
		}
	}

	.sidebar {
		float: right;
		width: 100%;
		@include at-medium() {
			width: 38%;
		}

		img {
			margin-bottom: 1rem;
			width: 100%;
		}
	}

	footer {
    display: inline-block;
    margin-top: 2rem;
		width: 100%;
	}
}
